<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Robot Dashboard</title>

    </head>
    <body>
        <h1>Robot Dashboard</h1>
        <p>Robot Speed: <span id = "speed" >Loading...</span></p>
        <p>Robot Steering Angle: <span id = "steeringAngle">Loading... </span> Degrees</p>
        <p>Robot Battery Level: <span id = "batteryLevel">Loading...</span>%</p>
        <script>
            async function fetchData(){
                const response = await fetch('/data');
                const data = await response.json();
                document.getElementById("speed").textContent = data.speed.toFixed(2);
                document.getElementById("steeringAngle").textContent = data.steeringAngle.toFixed(2);
                document.getElementById("batteryLevel").textContent = data.batteryLevel.toFixed(2);
            }
            setInterval(fetchData, 2000);

        </script>
    </body>
</html>