{% extends "layout.html" %}

{% block content %}
<h2>Project Files</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ducimus, molestiae inventore animi recusandae facere, mollitia illo assumenda sit repellat eos fugit repellendus nulla! Natus temporibus porro quo molestiae debitis?</p>
<ul>
    <li><a href="/files/placeholder.pdf">ADS Document</a></li>
    <li><a href="/files/placeholder.pdf">SD Document</a></li>
    <li><a href="/files/placeholder.zip">Code</a></li>
</ul>
{% endblock %}