{% extends "layout.html" %}

{% block content %}
<h2>Meet the Team</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi sint impedit perspiciatis quam nemo autem praesentium nam hic tempore sequi aliquam, odit numquam illo optio sunt animi vel doloremque unde!</p>
<ul>
    <li><strong>Debin</strong> </li>
    <li><strong>Nestor</strong> </li>
    <li><strong>Hayden</strong> </li>
    <li><strong>Dezean</strong> </li>
    <li><strong>Chau</strong> </li>
</ul>
{% endblock %}