{% extends "layout.html" %}

{% block content %}
<h2>Video Demos</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt tempora quasi sint nostrum labore eligendi, nulla velit minima, enim magnam minus necessitatibus qui cum tempore! Possimus cumque porro vel veniam?</p>
<ul>
    <li><a href="/videos/demo1.mp4" target="_blank">Demo 1: Lane Detection</a></li>
    <li><a href="/videos/demo2.mp4" target="_blank">Demo 2: Obstacle Avoidance</a></li>
    <li><a href="/videos/demo3.mp4" target="_blank">Demo 3: Speed and Turn Control</a></li>
</ul>
{% endblock %}